BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Allman
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Preserve
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
NamespaceIndentation: All
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
